#include "ViewComposer-Example-Common.xcconfig"
#include "../../../Configurations/base_release.xcconfig"
#include "../../../Pods/Target Support Files/Pods-App-Example/Pods-App-Example.release.xcconfig"

APP_DISPLAY_NAME = $(_APP_NAME_PROD)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) APP_STORE_BUILD
SWIFT_OPTIMIZATION_LEVEL = -Owholemodule
