#include "../../../Configurations/base_apps.xcconfig"

BUNDLE_IDENTIFIER_PROD = com.cyon.ViewComposerExample
INFOPLIST_FILE = Source/SupportingFiles/ViewComposer-Example-Info.plist

PRODUCT_NAME = ViewComposerExample
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_NAME)

// Overridden in Debug.xcconfig
CODE_SIGN_IDENTITY = iPhone Distribution

ENABLE_TESTABILITY = YES
