#include "base_shared.xcconfig"

ONLY_ACTIVE_ARCH = YES

CODE_SIGN_IDENTITY =
CODE_SIGN_IDENTITY[sdk=iphoneos*] =
CODE_SIGN_IDENTITY[sdk=iphonesimulator*] =
CODE_SIGN_ENTITLEMENTS =
CODE_SIGN_ENTITLEMENTS[sdk=iphoneos*] =
CODE_SIGN_ENTITLEMENTS[sdk=iphonesimulator*] =

//Only used by APPS but it does not mess up build settings for test targets for FRAMEWORKS in Xcode 9.3 so will keep it here for now
TEST_HOST = $(PRODUCT_BUNDLE_NAME)
BUNDLE_LOADER = $(TEST_HOST)